<!-- SIDEBAR USERPIC -->
<div class="profile-userpic">
    <img src="{{ app.user.avatar }}" class="img-responsive" alt="">
</div>
<!-- END SIDEBAR USERPIC -->
<!-- SIDEBAR USER TITLE -->
<div class="profile-usertitle">
    <div class="profile-usertitle-name">
        {{ app.user.prenom }} {{ app.user.nom }}
    </div>
    <div class="profile-usertitle-job">
        {{ app.session.get('role_choisi') }}
    </div>
    {% if(multipleRoles) %}
         <form id="choixRole" method="post" action="{{ path("choix_role") }}">
             <select name="role">
                 <option value="">Changer de rôle</option>
                 {% for role in strRoles %}
                     <option value="{{ role }}" {% if(role == app.session.get('role_choisi')) %} selected {% endif %}>{{ role }}</option>
                 {% endfor %}
             </select>
         </form>
    {% endif %}
</div>