{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Article</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Titre</th>
                        <td>{{ article.titre }}</td>
                    </tr>
                    <tr>
                        <th>Contenu</th>
                        <td>{{ article.contenu }}</td>
                    </tr>
                    <tr>
                        <th>Date de création</th>
                        <td>{% if article.dateCreation %}{{ article.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date de modification</th>
                        <td>{% if article.dateModif %}{{ article.dateModif|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Thèmes</th>
                        <td>
                        {% for untheme in article.themes %}
                            {{ untheme.nom }}
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Commentaires</h3>
        </div>
        <div class="col-xs-12">
        {% for com in article.commentaires %}
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="{{ com.utilisateur.avatar }}" alt="avatar" style="width:64px; height:64px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{ com.utilisateur.prenom }} {{ com.utilisateur.nom }}
                        <small>
                            {{ com.date|date("d/m/Y H:i") }}
                        </small>
                        <a href="{{ path('signalement_new', { 'idComm': com.id }) }}" >
                            <i class="glyphicon glyphicon-flash"></i>
                        </a>
                    </h4>
                    {{ com.contenu }}
                </div>
                <div class="media-right media-middle">

                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-warning" href="{{ path('article_index') }}">Retourner à la liste</a>
            <a class="btn btn-info" href="{{ path('article_edit', { 'id': article.id }) }}">Éditer</a>
            {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
