<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/simple-sidebar.css') }}" />

        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {% block testlayout %}
    <div class="container-fluid">
        <div class="row profile">
            <div class="col-md-2">
                <div class="profile-sidebar">

                    {{ render(controller('BlogBundle:Utilisateur:widget')) }}

                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">Follow</button>
                        <a class="btn btn-danger btn-sm" href="{{ path("logout") }}">Logout</a>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="{% if app.request.attributes.get('_route') == 'blog_homepage' %}active{% endif %}">
                                <a href="{{ path('blog_homepage') }}">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Accueil </a>
                            </li>
                            <li class="dropdown {% if app.request.attributes.get('_route') == 'utilisateur_profil' or app.request.attributes.get('_route') == "thematiques_list" %}active{% endif %}">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Mon profil
                                </a>
                                <ul>
                                    <li class="{% if app.request.attributes.get('_route') == 'utilisateur_profil' %}active{% endif %}">
                                        <a href="{{ path("utilisateur_profil") }}">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                            Informations personnelles </a>
                                    </li>
                                    <li class="{% if app.request.attributes.get('_route') == 'thematiques_list' %}active{% endif %}">
                                        <a href="{{ path("thematiques_list") }}">
                                            <i class="glyphicon glyphicon-th-list"></i>
                                            Mes thématiques </a>
                                    </li>
                                    <li class="{% if app.request.attributes.get('_route') == 'article_index' %}active{% endif %}">
                                        <a href="{{ path("article_index") }}">
                                            <i class="glyphicon glyphicon-th-list"></i>
                                            Afficher vos articles </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'signalements_list' %}active{% endif %}">
                                <a href="{{ path("signalements_list") }}">
                                    <i class="glyphicon glyphicon-flash"></i>
                                    Signalements
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Help </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-10">
                <div class="profile-content">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>

    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script>
        $(".profile-usermenu > ul > li.dropdown").click(function(e) {
            e.preventDefault();
            $(this).toggleClass("active");
        });

        $(".profile-usermenu > ul > li.dropdown > ul").click(function(e){
            e.stopPropagation();
        })
    </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
