{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Édition d'un article</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-info" type="submit" value="Ok" />
    {{ form_end(edit_form) }}

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-warning" href="{{ path('article_index') }}">Retourner à la liste</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
