{% extends 'base.html.twig' %}

{% block body %}
    <h1>Signalements d'articles</h1>

    {% if signalementarticles %}
        <table class="table">
            <thead>
            <tr>
                <th>Contenu</th>
                <th>Sur l'article</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for signalementarticle in signalementarticles %}
                <tr>
                    <td>{{ signalementarticle.contenu }}</td>
                    <td>
                        <a href="{{ path('article_show', { 'id': signalementarticle.article.id }) }}">
                            {{ signalementarticle.article.titre }}
                        </a>
                    </td>
                    <td>
                        <form action="{{ path('signalementarticle_delete', { 'id': signalementarticle.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[signalementarticle.id]) }}
                            <button type="submit" class="btn btn-small">
                                <i class="icon-trash"></i>
                                Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">Vous n'avez fait aucun signalement</p>
    {% endif %}
{% endblock %}

